PRACTICE STAFF

{{staffMember}}
<br><br><br>
{{currentPractice}}
<br><br><br>

<label for="">{{currentPractice.name}}'s Patients</label>
<ul ng-repeat="patient in currentPractice.patients">
    <li>{{patient.firstName}} {{patient.lastName}}</li>
    <button ng-click="showAddBill(patient.firstName, patient.lastName, patient._id)">Add Bill</button>
</ul>

<div ng-hide="addBill" class="">
    <form class="">
        <input type="text" ng-model="bill.billAmount" placeholder="Bill Amount"><br>
        <input type="text" ng-model="patientInfo.patientName" placeholder="Patient Name"><br>
        <input type="text" ng-model="patientInfo.id" placeholder="Patient Name"><br>
        <input type="text" ng-model="bill.billingAddress" placeholder="Billing Address"><br>
        <button ng-click="submitBill(bill, patientInfo)"> Submit Bill</button>
        <button ng-click="addToBillArray()"></button>
        <!-- <textarea type="text" ng-model="bill.note" placeholder="EnterTextHere"><br> -->

    </form>
</div>
<!-- {{currentPractice.patients.firstName}} {{currentPractice.patients.lastName}} -->
<br><br><br>
<form class="" action="index.html" method="post">
    <label for="">Create New Patient</label><br>
    <input type="text"ng-model="currentPracticeId"><br>
    <input type="text" ng-model="newPatient.firstName" placeholder="first name"><br>
    <input type="text" ng-model="newPatient.lastName" placeholder="last name"><br>
    <input type="text" ng-model="newPatient.insurance" placeholder="insurance"><br><br>
    <input type="text" ng-model="newPatient.email" placeholder="email"><br>
    <input type="text" ng-model="newPatient.dob" placeholder="dob"><br>
    <button ng-click="addPatient(newPatient, currentPracticeId)" type="button" name="button">Creat New Patient</button>

    <button ng-click="addToPatientArray(newAddPatient)" type="button" name="button">Add Patient To Clinic</button>
</form>
