
   <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-top:500px;">
     <div class="container">
      <div id="myContainer">
         <div class="navbar-header">
           <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-search"></span> Filter</a>
         </div>
         <form class="navbar-form navbar-left" role="search">
           <div class="form-group">
             <input autocomplete="on" type="text" class="form-control" ng-model="filter.lastName" placeholder="Last Name" >
             <input type="text" class="form-control" ng-model="filter.firstName" placeholder="First Name" >
             <input type="text" class="form-control" ng-model="filter.patientID" placeholder="Last Name" >
             <input type="text" class="form-control" ng-model="filter.billID" placeholder="Bill ID#" >
             <input type="text" class="form-control" ng-model="filter.totalCharged" placeholder="totalCharged" >
             <button class="btn btn-primary" ng-click="getClinicData()"> Submit </button>
           </div>
         </form>
      </div>
     </div>
     <div class="panel panel-default">
        <div class="panel-heading"> Your Filter Results:</div>
        <div class="gridStyle" ng-grid="gridOptions" swap-image="defaultInfo.search"></div>
     </div>
   </div>
