.admin-module-container
    width: 90%
    margin: auto

.admin-container
    display: flex
    justify-content: space-between

.billing-admin-header
    margin: 0
    position: relative

    img
        width: 415px
        padding-top: 10px
        padding-left: 10px

.admin-title
    padding-right: 10px

.top-section
    width: 100%
    display: flex
    justify-content: space-around
    // background-color: blue

.admin-search-container
    text-align: center

.practice-search-title 

.practice-filter
    height: 3em
    width: 85%
    border: 0
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3)
    text-align: center

    textarea
        font-size: 22px
        display: block
        padding: 5px 10px
        color: black

    &:focus
        outline: none
        border: 1px solid black

.practices-container
    width: 16.5%
    // height: 75vh
    overflow-y: scroll
    background-color: white
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3)
    // background-color: red

    li
        list-style: none
        font-size: 2em
        text-align: center

        h2
            font-size: 1em
            margin: 2px
            text-transform: uppercase

            &:hover
                cursor: pointer
                color: #179B77

    ul
        padding: 0

.delete-prac-container
    text-align: center

.delete-practice
  background-color: #062F5C
  height: 2em
  border: none
  border-radius: 2px
  color: white
  font-size: 1em

  &:hover
    cursor: pointer
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3)



.chart-input-container
    width: 25%

.chart-inputs
    width: 100%

    input
        width: 100%
        font-size: 2em
        margin-bottom: 5px
        padding-left: 10px
        border: .5px solid gray

    select
        width: 100%
        font-size: 2em
        margin-bottom: 5px
        padding-left: 10px
        border: .5px solid gray

    textarea
        margin-left: 18%
        border: .5px solid gray
        resize: none
        font-size: 15px

    form
        margin-top: -55px

    button 
        background-color: #FF9922
        margin-top: 15px
        weight: 24%
        border: none
        border-radius: 2px
        color: white
        padding: 10px 32px

        &:hover
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
            cursor: pointer
            
        &:focus
            outline: none

.practice-email
    margin-bottom: -13px
    margin-top: 0px

.create-practice-user
    margin-bottom: 25px
    margin-top: 40px


.charts-container


.visuals-container
    border: 1px solid gray

.chart-buttons
    display: flex
    justify-content: space-around

    button
        background-color: #FF9922
        margin-top: 15px
        weight: 24%
        border: none
        border-radius: 2px
        color: white
        padding: 10px 32px

        &:hover
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
            cursor: pointer
            
        &:focus
            outline: none

.chart-div-right
    width: 45%

.chart-div-left
    width: 45%

.chart-div

.amt-billed-chart
    // width: 50vh
    // height: 50vh

.ar-goal-chart
    // width: 50vh
    // height: 50vh

.patients-chart
    // width: 50vh
    // height: 50vh

.total-ar-chart
    // width: 50vh
    // height: 50vh