.admin-module-container
    width: 90%
    margin: auto

.admin-container
    display: flex
    justify-content: space-between

.billing-admin-header
    margin: 0
    position: relative

    img
        width: 415px
        padding-top: 10px
        padding-left: 10px

.admin-title
    padding-right: 10px

.top-section
    width: 100%
    display: flex
    background-color: blue

.practices-container
    width: 20%
    overflow-y: scroll
    background-color: red

    li
        list-style: none
        font-size: 1em

.charts-container
    width: 80%
    background-color: yellow


